@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-container {
    max-width: 80ch;
    margin: 0 auto;
  }
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply text-grey-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold mb-4;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  p {
    @apply mb-4;
  }

  ul {
    @apply list-disc pl-5;
  }

  p a,
  li a,
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    @apply text-blue-100 font-bold hover:text-blue-100 hover:text-opacity-95 transition-colors duration-300 hover:underline;
  }

  button,
  button[type="submit"],
  .button {
    @apply rounded bg-blue-100 bg-opacity-100 p-2 text-white hover:opacity-50 transition-all duration-300;
  }
}
